body {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif !important;
    font-size: 65.2%;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h4{
    font-size: 3.5rem !important;
}
input{
    padding: 1rem !important;
    border-radius: .5rem !important;
}
.bold{
    font-weight: 600;
}
.espaciado-1{
    letter-spacing: 1rem;
}
.contenedor{
    width: 80%;
    margin: 0 auto;
}