$negro : rgb(59, 59, 59);
$gris : rgb(150, 150, 150);
$negroL : rgb(65, 65, 65);
$blanco : rgb(255, 255, 255);
$azul : rgb(0, 204, 255);
$magenta : rgb(253, 4, 108);
// $amarillo : rgb(163, 163, 163);
$amarillo : rgb(230, 208, 14);
$azul-oscuro :  rgb(8, 58, 151);