.contenido{
    @include d-grid(1, 0rem);
    margin: 1rem 0;
    h4{
        font-size: 3rem;
    }
    p{
        font-size: 1.8rem;

        @include tablet{
            font-size: 1.2rem;
        }
    }
    
    @include tablet{
        @include d-grid (1, 0rem);
    }
    .skills{
        @include d-grid (4, 0rem);
        position: relative;
        width: 100%;
        background-color:$negro;
        // background-color: darken($color: $amarillo, $amount: 50);
        color: $amarillo;
        padding: .5rem;
        overflow: hidden;
        border-radius: .3rem;
        margin: 1rem 0;
        transition: .4s ease;
        cursor: pointer;
        z-index: 0;

        @include tablet{
           display: flex;
           flex-wrap: wrap;
           width: 90%;
           margin: 10px auto;
        }

        &::before{
            content: '';
            position: absolute;
            width: 105%;
            height: 50px;
            background-color: rgb(255, 255, 255);
            z-index: -1;
            top : -80PX;
            left: -5px;
            transition: .2s ease-out;

        }

        &:hover{
            background-color: lighten($color: $amarillo, $amount: 30);
            // padding: 2rem .5rem;  
            .iconos{
                color: black;
            }
            .titulo{
                color: $negro;
            }
           .barra{

               background-color: $negro;
            
            }
           
        }
        // &:hover::before{
        //     // transform: translateY(100px);
        // }
        &:hover .parrafo {
            opacity: 1;
        }

        .barra{
            grid-column: 3/5;
            display: flex;
            justify-content: left;
            align-items: center;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            border-radius: 5px;
            height: 50%;
            margin: auto 0;
            background-color: $amarillo;
            margin-right: 1rem;
            transition: .2s ease;

            @include tablet {
                width: 100%;
                margin: 0;
            }
            
            .direccion-arte{
                display: flex;
                align-items: center;
                margin-right: 1rem;
                border-radius: 2px;
                padding: 0 1rem;
                color: $negro;
                text-align: end;
                background-color: $blanco;
                position: relative;
                font-weight: 600;
                height: 100%;
                font-size: 1.5rem;
                width: 90%;
                // background-color: rgb(255, 255, 255);
            }
            .direccion-arte{
                display: flex;
                align-items: center;
                margin-right: 1rem;
                border-radius: 2px;
                padding: 0 1rem;
                color: $negro;
                text-align: end;
                background-color: $blanco;
                position: relative;
                font-weight: 600;
                height: 100%;
                font-size: 1.5rem;
                width: 90%;
                // background-color: rgb(255, 255, 255);
            }
            .desarrollo-web{
                display: flex;
                align-items: center;
                margin-right: 1rem;
                border-radius: 2px;
                padding: 0 1rem;
                color: $negro;
                text-align: end;
                background-color: $blanco;
                position: relative;
                font-weight: 600;
                height: 100%;
                font-size: 1.5rem;
                width: 70%;
            }
            .tresd{
                display: flex;
                align-items: center;
                margin-right: 1rem;
                border-radius: 2px;
                padding: 0 1rem;
                color: $negro;
                text-align: end;
                background-color: $blanco;
                position: relative;
                font-weight: 600;
                height: 100%;
                font-size: 1.5rem;
                width: 70%;
            }
            .planeacion-estrategica{
                display: flex;
                align-items: center;
                margin-right: 1rem;
                border-radius: 2px;
                padding: 0 1rem;
                color: $negro;
                text-align: end;
                background-color: $blanco;
                position: relative;
                font-weight: 600;
                height: 100%;
                font-size: 1.5rem;
                width: 60%;
            }
            
        }

        .iconos{
            grid-column: 1/3;
            display: flex;
            // flex-direction: column;
            font-size: 1.5rem;
            // margin: .4rem 0;
            // background-color: blueviolet;
            padding: .5rem;
        }
        .titulo{
            font-size: 1.2_varirem;
            font-weight: 300; 
            text-align: start;
            color: $blanco;
            // margin-bottom: .5rem;
            margin-right: 1rem;
            // background-color: aqua;

            @include tablet{
                font-size: 1rem;
            }
        }
        .parrrafo{
            display: block;
            padding: 2rem;
            opacity: 0;
            transition: .4s ease-out;

            p{  
                color: $negro;
                text-align: center;
                font-size: 1.2rem;
                transition-delay: .4s;

                
            }
        }
        
    }
} 

